{{#if details.data.holder_info}}
  <span class="integration-summary-tag integration-background-color integration-border-color">
     <span class="acronym integration-text-bold-color">{{block.acronym}}</span>
     <span class="integration-text-color">{{details.data.holder_info.name}}</span>
  </span>
{{/if}}
